/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('../css/fonts/pt-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../css/fonts/pt-sans-v9-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../css/fonts/pt-sans-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../css/fonts/pt-sans-v9-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url('../css/fonts/ubuntu-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../css/fonts/ubuntu-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../css/fonts/ubuntu-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../css/fonts/ubuntu-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1400px;
  margin: auto;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.catalog-salmon picture,
.catalog-halibut picture {
  display: none;
}
body .js-show {
  display: flex;
}
body .js-color {
  background-color: #cdcdcd;
}
.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1040px;
  margin: auto;
  padding: 0;
}
.page-header__wrapper {
  margin-bottom: 10px;
}
.page-header__logo {
  display: block;
  width: 150px;
  margin: auto auto 20px auto;
  padding-top: 30px;
}
.page-header__contacts {
  width: 150px;
  margin: auto auto 20px auto;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
.page-header__tel {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.page-header__mail {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #ff4040;
}
.page-header__call {
  display: block;
  margin-top: 10px;
  padding: 5px 0;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b82527;
  background: linear-gradient(to top, #db3232, #ff503a);
  border-radius: 5px;
  box-shadow: 0 2px 0 #a51e22;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
  }
  .page-header__wrapper {
    margin-bottom: 48px;
  }
  .page-header__logo {
    width: auto;
    padding-top: 53px;
    margin-bottom: 0;
  }
  .page-header__contacts {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 175px;
    margin: 0;
  }
  .page-header__tel {
    font-size: 18px;
    line-height: 24px;
  }
  .page-header__tel {
    font-size: 16px;
    line-height: 19px;
  }
  .page-header__call {
    padding: 10px 0;
    font-size: 18px;
  }
}
.site-list__toggle {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 24px;
  height: 18px;
  margin: 0;
  padding: 0;
  background-color: inherit;
  outline: none;
  border: none;
}
.site-list {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  list-style: none;
  background-color: white;
  border-top: 1px solid #972625;
}
.site-list__item a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: #ff4040;
}
@media (max-width: 767px) {
  .--opened .site-list__toggle::before,
  .--opened .site-list__toggle::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #222222;
  }
  .--opened .site-list__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .--opened .site-list__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .--opened .site-list {
    position: absolute;
    left: 5%;
  }
  .--closed .site-list__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 2px;
    box-shadow: 0 8px 0 0 #db3232, 0 16px 0 0 #db3232;
    background-color: #db3232;
  }
  .--closed .site-list {
    display: none;
  }
  .--no-js .site-list__toggle {
    display: none;
  }
  .--no-js .site-list {
    position: static;
  }
  .site-list--no-js {
    position: static;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    border-top: none;
  }
  .site-list__item {
    flex-grow: 1;
  }
  .site-list__item:hover {
    background-color: #efefef;
  }
  .site-list__item:active {
    background-color: #ffb6ae;
  }
  .site-list__item a {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
.page-main {
  width: 100%;
  margin: 0;
  padding: 0;
}
.about {
  width: 100%;
  min-height: 350px;
  margin: 0;
  padding: 0;
  color: white;
  background: url("../img/small/55.png") 50% 0 no-repeat;
  background-color: #29272e;
}
.about__title {
  width: auto;
  margin: 0;
  padding: 30px 10px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: normal;
}
.about__to-order {
  display: block;
  width: 150px;
  margin: 100px auto auto auto;
  padding: 5px 0;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b82527;
  text-align: center;
  word-break: break-all;
  background: linear-gradient(to top, #39b64a, #3cbf4d);
  border-radius: 5px;
  box-shadow: 0 2px 0 #a51e22;
}
@media (min-width: 460px) {
  .about__title::after {
    content: " по России";
  }
}
@media (min-width: 768px) {
  .about {
    min-height: 655px;
  }
  .about__title {
    width: auto;
    margin: 0;
    padding: 50px 10px 0 10px;
    font-size: 40px;
    line-height: 46px;
  }
  .about__to-order {
    width: 220px;
    margin: 392px auto auto auto;
    padding: 16px 0;
    font-size: 28px;
  }
}
.catalog-salmon {
  width: auto;
  margin-top: 50px;
  padding: 0;
}
.catalog-salmon__list {
  display: flex;
  justify-content: space-around;
  align-content: baseline;
  flex-wrap: wrap;
  width: auto;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  padding: 0 10px 0 10px;
}
.catalog-salmon__item {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 320px;
  margin: 0 0 30px 0;
}
.catalog-salmon__item picture {
  align-items: center;
  width: 115px;
}
.catalog-salmon__img {
  width: 100%;
}
.catalog-salmon__info {
  min-width: 180px;
  max-width: 180px;
}
.catalog-salmon__item-title,
.catalog-salmon__description,
.catalog-salmon__info p {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
.catalog-salmon__info .catalog-salmon__description {
  width: 170px;
  margin-top: 2px;
  font-size: 14px;
}
.catalog-salmon__table-tr {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
.catalog-salmon__table-tr:hover {
  background-color: #e6e6e6;
}
.catalog-salmon__item-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
.catalog-salmon__info-wrapper {
  width: 90%;
  margin-top: 10px;
}
.catalog-salmon__info-wrapper .catalog-salmon__table-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
}
.catalog-salmon__info-wrapper .catalog-salmon__table-tr {
  display: flex;
  justify-content: space-between;
  padding: 5px 35px 5px 20px;
  font-size: 16px;
  text-align: center;
}
.catalog-salmon__table-wrap {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}
.catalog-salmon__table-wrap .catalog-salmon__table-tr {
  padding: 5px 15px;
}
@media (min-width: 768px) {
  .catalog-salmon {
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 0 40px 0 40px;
  }
  .catalog-salmon__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
  }
  .catalog-salmon__item {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 48.5%;
    max-width: 540px;
    margin: 0 0 70px 0;
  }
  .catalog-salmon__item picture {
    align-items: center;
    width: 33%;
    padding-right: 15px;
  }
  .catalog-salmon__img {
    width: 100%;
  }
  .catalog-salmon__info {
    width: 66%;
    max-width: 320px;
  }
  .catalog-salmon__item-title {
    font-size: 26px;
  }
  .catalog-salmon__info .catalog-salmon__description {
    width: 100%;
    font-size: 18px;
  }
  .catalog-salmon__info-wrapper .catalog-salmon__table-title {
    font-size: 14px;
  }
  .catalog-salmon__info-wrapper {
    flex-grow: 1;
    max-width: 190px;
  }
}
.catalog-halibut {
  width: auto;
  margin-top: 50px;
  padding: 0;
}
.catalog-halibut__list {
  display: flex;
  justify-content: space-around;
  align-content: baseline;
  flex-wrap: wrap;
  width: auto;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  padding: 0 10px 0 10px;
}
.catalog-halibut__item {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 320px;
  margin: 0 0 30px 0;
}
.catalog-halibut__item picture {
  align-items: center;
  width: 115px;
}
.catalog-halibut__img {
  width: 100%;
}
.catalog-halibut__info {
  min-width: 180px;
  max-width: 180px;
}
.catalog-halibut__item-title,
.catalog-halibut__description,
.catalog-halibut__info p {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
.catalog-halibut__info .catalog-halibut__description {
  width: 170px;
  margin-top: 2px;
  font-size: 14px;
}
.catalog-halibut__table-tr {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
.catalog-halibut__table-tr:hover {
  background-color: #e6e6e6;
}
.catalog-halibut__item-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
.catalog-halibut__info-wrapper {
  width: 90%;
  margin-top: 10px;
}
.catalog-halibut__info-wrapper .catalog-halibut__table-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
}
.catalog-halibut__info-wrapper .catalog-halibut__table-tr {
  display: flex;
  justify-content: space-between;
  padding: 5px 35px 5px 20px;
  font-size: 16px;
  text-align: center;
}
.catalog-halibut__table-wrap {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}
.catalog-halibut__table-wrap .catalog-halibut__table-tr {
  padding: 5px 15px;
}
@media (min-width: 768px) {
  .catalog-halibut {
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 0 40px 0 40px;
  }
  .catalog-halibut__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
  }
  .catalog-halibut__item {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 48.5%;
    max-width: 540px;
    margin: 0 0 70px 0;
  }
  .catalog-halibut__item picture {
    align-items: center;
    width: 33%;
    padding-right: 15px;
  }
  .catalog-halibut__img {
    width: 100%;
  }
  .catalog-halibut__info {
    width: 66%;
    max-width: 320px;
  }
  .catalog-halibut__item-title {
    font-size: 26px;
  }
  .catalog-halibut__info .catalog-halibut__description {
    width: 100%;
    font-size: 18px;
  }
  .catalog-halibut__info-wrapper .catalog-halibut__table-title {
    font-size: 14px;
  }
  .catalog-halibut__info-wrapper {
    flex-grow: 1;
    max-width: 190px;
  }
}
.title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 50px;
  color: #e13733;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    font-size: 53px;
  }
}
.request {
  display: block;
  width: 170px;
  margin: 30px auto auto auto;
  padding: 10px 0;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b82527;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
  background: linear-gradient(to top, #dc3232, #fe503a);
  border-radius: 5px;
  box-shadow: 0 2px 0 #a51e22;
  border: none;
}
@media (min-width: 768px) {
  .request {
    width: 350px;
    margin: 30px auto auto auto;
    padding: 20px 0;
    font-size: 26px;
  }
}
.slider__main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 40px 0 0 0 ;
}
.slider {
  position: relative;
  overflow: hidden;
  width: auto;
}
.slider__back {
  width: 100%;
  height: 235px;
  padding: 0;
}
.slider__about {
  margin-top: 15px;
  padding: 0 20px;
  font-size: 14px;
  text-align: center;
}
.slider__back-1 {
  background: url("../img/small/boat.png") 50% no-repeat;
  background-size: cover;
}
.slider__back-2 {
  background: url("../img/small/caviar.png") no-repeat;
  background-size: cover;
}
.slider__back-3 {
  background: url("../img/small/loader.png") 50% no-repeat;
  background-size: cover;
}
.slider__back-4 {
  background: url("../img/small/stock.png") 50% no-repeat;
  background-size: cover;
}
.slider__back-5 {
  background: url("../img/small/truck.png") 50% no-repeat;
  background-size: cover;
}
.slider__wrapper {
  display: flex;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 465px;
}
.slider__control {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: white;
  text-align: center;
  opacity: 1;
  height: 200px;
  background: inherit;
}
.slider__control_show {
  display: flex;
}
.slider__control:hover,
.slider__control:focus {
  color: white;
  text-decoration: none;
  outline: 0;
}
.slider__control_left {
  left: 0px;
}
.slider__control_right {
  right: 0px;
}
.slider__mask {
  position: absolute;
  top: 235px;
  left: 0;
  display: flex;
  width: 100%;
  height: 40px;
  background: url("../img/menu-frame.png") no-repeat;
  background-size: cover;
}
.slider__links {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 12px auto;
  text-align: center;
}
.slider__link-item {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  background-color: #ffa59b;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.slider__link-item--active {
  background-color: #ff4040;
}
.slider__control::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 75px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control:hover::before {
  opacity: 0.6;
}
.slider__control_left::before {
  background-image: url("../img/small/left-button.png");
}
.slider__control_right::before {
  background-image: url("../img/small/rigth-button.png");
}
.slider__item > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}
.garant {
  width: 100%;
  min-height: 730px;
  margin-top: 40px;
  padding-top: 30px;
  color: white;
  background: url("../img/small/color2.png");
  background-size: auto 100%;
}
.garant .garant__title {
  color: white;
}
.garant__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}
.garant__item-title {
  margin: 25px 0 15px 0;
  padding: 0;
  font-family: 'PF Din Text Comp Pro', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}
.garant__item-description {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.garant__item-description--1 {
  position: relative;
  height: 180px;
}
.garant__item-description--1::before {
  content: "Быстрая доставка — гарантия того, что на вашем прилавке будет самая свежая икра";
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: auto;
  padding: 10px;
  font-size: 14px;
  color: black;
  font-style: italic;
  background-color: #dadada;
}
.garant__item-description--1::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -28px;
  bottom: 10px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 20px solid #dadada;
}
.documentation {
  margin-top: 30px;
  padding-top: 30px;
}
.documentation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
  padding: 0;
}
.documentation__list picture {
  margin-bottom: 10px;
}
.documentation__description {
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px;
  text-align: center;
}
.documentation__request {
  display: block;
  width: auto;
  margin: 30px auto auto auto;
  padding: 10px 40px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b82527;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
  background: linear-gradient(to top, #dc3232, #fe503a);
  border-radius: 5px;
  box-shadow: 0 2px 0 #a51e22;
  border: none;
}
.coordinates {
  display: flex;
  flex-direction: column;
  background: url("../img/small/ZS-bottom.png") 50% 50px no-repeat;
}
.coordinates__info {
  margin-top: 40px;
  padding: 80px 10px 0 10px;
}
.coordinates__tel {
  margin: 0;
}
.coordinates__tel {
  margin: 0;
}
.coordinates__map {
  margin-top: 15px;
}
.shadow {
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
  opacity: 0.2;
  position: absolute;
  left: -11px;
  top: 6038px;
  width: 1435px;
  height: 30px;
  z-index: 34;
}
.page-footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #151c1c;
  outline: 1px solid black;
}
.page-footer__list {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}
.page-footer__item--info {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}
.page-footer__item {
  margin-top: 20px;
}
.page-footer__info {
  display: flex;
  font-size: 10px;
  font-weight: normal;
  align-items: flex-end;
}
.page__footer-logo {
  flex-grow: 1;
  display: block;
  width: 40px;
  height: 60px;
  margin: 12px 0;
  background: url("../img/small/ZS-white.png") no-repeat;
  background-size: contain;
}
.page-footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  WIDTH: 240px;
  height: 85px;
  margin: auto;
  padding: 0;
  list-style: none;
}
.page-footer__nav-item {
  flex-grow: 0;
  flex-shrink: 0;
  width: 50%;
  padding: 5px 0;
  font-size: 12px;
}
.page-footer__nav-item a {
  color: white;
  text-decoration: underline;
}
.page-footer__item--design {
  margin-top: 30px;
  margin-bottom: 5px;
}
.page-footer__item--design a {
  display: block;
  width: 50px;
  height: 30px;
  margin: auto;
  padding-top: 4px;
  padding-left: 40px;
  opacity: 0.5;
  color: white;
  font-size: 10px;
  text-decoration: none;
  background: url("../img/small/ED2.png") no-repeat;
}
.form label {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
  align-items: center;
}
.form label > input,
.form label > textarea {
  margin: 4px 0;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid #c1c1c1;
}
.form__name {
  width: 120px;
  margin-right: auto;
}
.form__mail {
  width: 135px;
  margin-right: auto;
}
.form__submit {
  display: block;
  width: auto;
  margin: 15px auto auto auto;
  padding: 10px 40px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b82527;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
  background: linear-gradient(to top, #dc3232, #fe503a);
  border-radius: 5px;
  box-shadow: 0 2px 0 #a51e22;
  border: none;
}
::-webkit-input-placeholder {
  font-size: 12px;
  font-style: italic;
}
::-moz-placeholder {
  font-size: 12px;
  font-style: italic;
}
:-moz-placeholder {
  font-size: 12px;
  font-style: italic;
}
:-ms-input-placeholder {
  font-size: 12px;
  font-style: italic;
}
