.about {
  width: 100%;
  margin: 0;
  padding: 30px 10px;
  
  color: white;  
 
  background: url("../img/small/mobile-back.png") 9git0% 0 no-repeat;
  background-color: #29272e;
}

.about__title {
  width: 100%;
  margin: 0;
  padding: 0;
  
  font-size: 30px;
  line-height: 40px;
  text-align: center;  
  font-weight: normal;
}

.about__to-order {
  display: block;

  width: 150px;
  margin: 170px auto auto auto;
  padding: 5px 0;

  font-size: 14px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b82527;
  text-align: center;
  word-break: break-all;

  background: linear-gradient(to top, #39b64a, #3cbf4d);
  border-radius: 5px;
  box-shadow: 0 2px 0 #a51e22;
}