.catalog-salmon {
  width: 100%;
  padding: 30px 10px;
  
  outline: 1px solid orange;
}

.catalog-salmon__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 20px auto 0 auto;
  padding: 0;
}

.catalog-salmon__item {
  display: flex;
  max-width: 320px;
  margin: auto;
}

.catalog-salmon__item picture {
  width: 130px;
}

.catalog-salmon__img {
  width: 100%;
}

.catalog-salmon__info {
  max-width: 190px;
}