.catalog-salmon {
  width: 100%;
  padding: 30px 10px;
  
  outline: 1px solid orange;
}

.catalog-salmon__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 40px auto 0 auto;
  padding: 0;
}

.catalog-salmon__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin: auto auto 30px auto;
  
  //outline: 1px solid black;
}

.catalog-salmon__item picture {
  align-items: center;
  width: 115px;
}

.catalog-salmon__img {
  width: 100%;
}

.catalog-salmon__info {
  min-width: 185px;
  max-width: 185px;
}

.catalog-salmon__item-title,
.catalog-salmon__description,
.catalog-salmon__info p {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.catalog-salmon__description {
  width: 100%;
}

.catalog-salmon__table-tr {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.catalog-salmon__table-tr:hover {
  background-color: #e6e6e6;
}

//.catalog-salmon__table tr:nth-child(2) {
//  background-color: #cdcdcd;
//}

.catalog-salmon__item-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.catalog-salmon__info-wrapper {
  margin-top: 10px;
}

.catalog-salmon__info-wrapper .catalog-salmon__table-title {
  display: flex;
  justify-content: space-between;
  //width: 50%;
  padding-bottom: 10px;
  
  font-size: 12px;
  font-weight: normal;
}

.catalog-salmon__info-wrapper .catalog-salmon__table-tr {
  display: flex;
  justify-content: space-between;
  padding: 5px 35px 5px 20px;
  //padding-right: 35px;
  
  font-size: 16px;
  text-align: center;
  
  //cursor: pointer;
}

.catalog-salmon__table-wrap {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.catalog-salmon__table-wrap .catalog-salmon__table-tr {
  padding: 5px 15px;
}
