.coordinates {
  display: flex;
  flex-direction: column;
  
  background: url("../img/small/ZS-bottom.png") 50% 30px no-repeat;
}

.coordinates__info {
  margin-top: 50px;
  padding: 50px 10px 0 10px;
}

.coordinates__tel {
  margin: 0;
}

.coordinates__tel {
  margin: 0; 
}

.coordinates__map {
  margin-top: 15px;
}