.documentation {
  margin-top: 30px;
  padding-top: 30px;
}

.documentation__back {
  //display: none;
  content: '';
  position: fixed;
  z-index: 1;
  top: 0;

  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
}

.documentation__img-big {
  position: fixed;
  z-index: 2;
  top: 15vh;
  left: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  //max-width: 430px;
  //height: 80vh;
  //margin: auto;

  background-color: inherit;
  //border-radius: 3px;
  opacity: 1;
  transition: opacity 1s;
}

.documentation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 10px 0;
  padding: 0;
}

.documentation__list picture {
  
}

.documentation__description {
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px;
  
  text-align: center;
}

.documentation__request {
  display: block;

  width: auto;
  margin: 30px auto auto auto;
  padding: 10px 40px;

  font-size: 14px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b82527;
  text-align: center;
  word-break: break-all;

  cursor: pointer;

  background: linear-gradient(to top, #dc3232, #fe503a);
  border-radius: 5px;
  box-shadow: 0 2px 0 #a51e22;
  border: none;
}


@media (min-width: 453px) {
  .documentation__img-big {
    position: fixed;
    z-index: 2;
    top: 15vh;
    left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    //height: 80vh;
    margin-left: -215px;

    background-color: inherit;
    //border-radius: 3px;
    opacity: 1;
    transition: opacity 1s;
  }
}


@media (min-width: 768px) {
  .documentation {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 50px;
  }

  .documentation__img-big {
    position: fixed;
    z-index: 2;
    top: 5vh;
    left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    //height: 80vh;
    margin-left: -300px;

    background-color: inherit;
    //border-radius: 3px;
    opacity: 1;
    transition: opacity 1s;
  }
  
  .documentation__list {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto 60px auto;
    padding: 0 10px;
  }

  .documentation__list picture {
    flex-shrink: 1;
    width: 30%;
    //margin-top: 50px;
  }

  .documentation__list picture img {
    width: 100%;
  }
  
  .documentation__description {
    max-width: 635px;
    margin: auto;
    
    font-size: 18px;
    line-height: 24px;
  }

  .documentation__request {
    width: auto;
    margin: 35px auto 0 auto;
    padding: 20px 65px;

    font-size: 26px;
  }
}