.page-footer {
  display: flex;
  flex-direction: column;

  color: white;
  
  background-color: #151c1c;
  outline: 1px solid black;
}

.page-footer__list {
  margin: 0;
  padding: 0 10px;
  
  list-style: none;
}

.page-footer__item--info {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}

.page-footer__item {
  margin-top: 20px;
}

.page-footer__info {  
  //display: flex;
  //flex-wrap: nowrap;
  margin-top: 35px;
  
  font-size: 10px;  
  font-weight: normal;
  //align-items: flex-end;
}

.page__footer-logo {
  flex-grow: 1;
  flex-shrink: 0;
  display: block;
  width: 132px;
  height: 60px;
  margin: 12px 0;
  
  background: url("../img/small/ZS-white.png") no-repeat;
  background-size: contain;
}

.page-footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  WIDTH: 260px;
  height: 85px;
  margin: auto;
  padding: 0;
  
  list-style: none;
}

.page-footer__nav-item {
  flex-grow: 0;
  flex-shrink: 0;
  width: 50%;
  min-width: 120px;
  padding: 5px 0;
  
  font-size: 12px;
}

.page-footer__nav-item a {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.page-footer__item--design {
  margin-top: 30px;
  margin-bottom: 5px;
}

.page-footer__item--design a {
  display: block;
  width: 50px;
  height: 30px;
  margin: auto;
  padding-top: 4px;
  padding-left: 40px;
  
  opacity: 0.5;
  color: white;
  font-size: 10px;
  text-decoration: none;
  
  background: url("../img/small/ED2.png") no-repeat;
  //outline: 1px solid white;
}


@media (min-width: 768px) {
  .page-footer {
    display: flex;
    align-items: center;
    //justify-content: center;
    min-height: 225px;
  }
  
  .page-footer__list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    width: 97%;
    max-width: 1020px;
    //margin: auto;
  }
  
  .page-footer__item {
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  .page-footer__item--info {  
    max-width: 350px;
    margin: 27px 0 0 0;
  }
  
  .page-footer__item--nav {
    margin-top: 55px;
  }
  
  .page-footer__item--design {
    margin-top: 60px;
    //margin-left: 18%;
  }

  .page-footer__item--design a {
    margin: 0 0 0 auto;
  }
}

//@media (min-width: 768px) and (max-width: 1024px) {
//  display: flex;
//  justify-content: space-between;
//  flex-grow: 1;
//  flex-shrink: 0;
//  width: 1020px;
//  //margin: auto;
//}