
//разобраться

.slider__main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 40px 0 0 0 ;
}

.slider {
  position: relative;
  overflow: hidden;

  width: auto;
}

.slider__back {
  width: 100%;
  height: 235px;
  padding: 0;
}

.slider__about {
  max-width: 800px;
  margin: 15px auto 0 auto;
  padding: 0 20px;

  font-size: 14px;
  text-align: center;
}

.slider__back-1 {
  background: url("../img/small/boat.png") 50% no-repeat;
  background-size: cover;
}

.slider__back-2 {
  background: url("../img/small/caviar.png") no-repeat;
  background-size: cover;
}

.slider__back-3 {
  background: url("../img/small/loader.png") 50% no-repeat;
  background-size: cover;
}

.slider__back-4 {
  background: url("../img/small/stock.png") 50% no-repeat;
  background-size: cover;
}

.slider__back-5 {
  background: url("../img/small/truck.png") 50% no-repeat;
  background-size: cover;
}


.slider__wrapper {
  display: flex;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 465px;  
}

.slider__control {
  position: absolute;
  top: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 200px;

  opacity: 1;
  color: white;
  text-align: center;    
  background: inherit;
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: white;
  text-decoration: none; 
  
  outline: 0;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__mask,
.slider__mask-tab {
  position: absolute;
  top: 235px;
  left: 0;
  
  display: flex;
  width: 100%;
  height: 40px;
  
  background: url("../img/small/menu-frame.png") no-repeat;
  background-size: cover;
}

.slider__mask-tab {
  display: none;
}

.slider__links {   
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: 12px auto;
  
  text-align: center;
}

.slider__link-item {
  display: inline-block;  
  width: 16px;
  height: 16px;  
  margin: 0 2px;
  
  background-color: #ffa59b;
  border-radius: 50%;  
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.slider__link-item--active {
  background-color: #ff4040;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 75px;
  
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control:hover::before {
  opacity: 0.6;
}

.slider__control_left::before {
  background-image: url("../img/small/left-button.png");
}

.slider__control_right::before {
  background-image: url("../img/small/rigth-button.png");
}

.slider__item > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}


@media (min-width: 768px) {
  .slider__back {
    height: 740px;
  }

  .slider__item {
    min-height: 950px;
  }
  
  .slider__mask {
    display: none;
  }
  
  .slider__mask-tab {
    top: 711px;
    
    display: flex;
    min-height: 70px;
  }
  
  .slider__links-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: auto;
    max-width: 820px;
    height: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    
    text-align: center;
  }

  .slider__link-item-tab {
    display: inline-block;
    //flex-grow: 1;
    width: auto;
    height: auto;
    margin: 0;

    font-size: 21px;
    color: #ff4040;
    background-color: inherit;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.6s ease;
    border-bottom: 1px dashed #ff4040;
  }

  .slider__link-item-tab--active {
    margin-bottom: 2px;
    font-weight: bold;
    color: #010000;
    border: none;
  }
  
  .slider__about {
    margin-top: 42px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
  }

  .slider__control {
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    height: 670px;

    opacity: 1;
    color: white;
    text-align: center;
    background: inherit;
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: white;
    text-decoration: none;

    outline: 0;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 25%;
    height: 107px;

    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    margin-left: 75%;
    
    background-image: url("../img/small/left-button.png");
  }

  .slider__control_right::before {
    margin-right: 75%;
    
    background-image: url("../img/small/rigth-button.png");
  }
}