body {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1400px;
  margin: 0;
  padding: 0;
  
  font-family: 'PT Sans', sans-serif;
}

picture {
  display: none;
}

.js-show {
  display: flex;
}

.js-color {
  background-color: #cdcdcd;
}